{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<h1>搬送車リスト</h1>
<a href="{% url 'myapp:car_create' %}" class="btn_register">新規登録</a>
<div class="search_area">
    <h3>検索条件</h3>
    <form method="get" action="{% url 'myapp:car_list' %}" class="db_search_form">
        {{ form.non_field_errors }}
        <div class="search_field">
            {{ form.car_number.errors }}
            <label for="{{ form.car_number.id_for_label }}">{{ form.car_number.label }}:</label>
            {{ form.car_number }}
        </div>
        <div class="search_field">
            {{ form.car_type.errors }}
            <label for="{{ form.car_type.id_for_label }}">{{ form.car_type.label }}:</label>
            {{ form.car_type }}
        </div>
        <div class="search_field">
            {{ form.car_mileage_begin.errors }}
            {{ form.car_mileage_end.errors }}
            <label for="{{ form.car_mileage_begin.id_for_label }}">走行距離:</label>
            {{ form.car_mileage_begin }}
            <label for="{{ form.car_mileage_end.id_for_label }}"> ～ </label>
            {{ form.car_mileage_end }}
        </div>
        <div class="form_btn">
            <input type="submit" value="検索">
            <a href="{% url 'myapp:car_list' %}" class="reset_btn">条件リセット</a>
        </div>
    </form>
</div>
<div class="result_area result_desktop" id="result_car_desktop">
    <h3>検索結果</h3>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>ナンバー</th>
                <th>車種</th>
                <th>走行距離</th>
                <th>備考</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {% for carinformation in car_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ carinformation.car_number }} </td>
                <td>{% if carinformation.car_type %}{{ carinformation.car_type }}
                    {% else %}{% endif %}</td>
                <td>{{ carinformation.car_mileage|intcomma }} km</td>
                <td class="text_left">
                    {% if carinformation.remarks %}{{ carinformation.remarks }}
                    {% else %}{% endif %}</td>
                <td class="tab hidden"><a href="{% url 'myapp:car_update' carinformation.id %}">更新</a></td>
                <td class="tab hidden"><a href="{% url 'myapp:car_delete' carinformation.id %}">削除</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="result_area result_mobile" id="result_car_mobile">
    <h3>検索結果</h3>
    <table>
        <thead>
            <tr>
                <th rowspan="2" width="1.2rem">No.</th>
                <th>ナンバー</th>
                <th>走行距離</th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th>車種</th>
                <th>備考</th>
            </tr>
        </thead>
        <tbody>
            {% for carinformation in car_list %}
            <tr class="first_tbody_tr">
                <td rowspan="2">{{ forloop.counter }}</td>
                <td>{{ carinformation.car_number }} </td>
                <td>{{ carinformation.car_mileage|intcomma }} km</td>
                <td class="tab"><a href="{% url 'myapp:car_update' carinformation.id %}">更新</a></td>
            </tr>
            <tr>
                <td>{% if carinformation.car_type %}{{ carinformation.car_type }}
                    {% else %}{% endif %}</td>
                <td class="text_left">
                    {% if carinformation.remarks %}{{ carinformation.remarks }}
                    {% else %}{% endif %}</td>
                <td class="tab"><a href="{% url 'myapp:car_delete' carinformation.id %}">削除</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pagination">
    <span>
        {% if page_obj.has_previous %}
            <span><a href="?{{ query_string }}&page={{ page_obj.previous_page_number }}">＜</a></span>
        {% endif %}

        {% for link_page in page_obj.paginator.page_range %}
        {% if link_page == page_obj.number %}
            <span class="current" class="page-link" href="#">{{ link_page }}</span>
        {% else %}
           <span class="page-link" href="#"><a
                   href="?{{ query_string }}&page={{ link_page }}">{{ link_page }}</a></span>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <span><a href="?{{ query_string }}&page={{ page_obj.next_page_number }}">＞</a></span>
        {% endif %}
    </span>
</div>
<div class="btn_csv">
  <a href="{% url 'myapp:car_csv_export' %}">csv出力</a>
  <a href="{% url 'myapp:car_csv_import' %}">csvアップロード</a>
</div>
{% endblock %}