{% extends 'base.html' %}

{% block content %}
<h1>顧客詳細ページ</h1>
<table class="detail_table">
    <tr>
        <th>名前</th>
        <td>{{ object.customer_name }}</td>
    </tr>
    <tr>
        <th>生年月日</th>
        <td>{% if object.birthday %}{{ object.birthday|date:'Y/m/d' }}{% else %}{% endif %}</td>
    </tr>
    <tr>
        <th>住所</th>
        <td>{% if object.zip_code %}〒{{ object.zip_code }}{% else %}{% endif %}<br>
        {% if object.prefecture %}{{ object.prefecture }}{% else %}{% endif %}{% if object.city %}{{ object.city }}{% else %}{% endif %}
        {% if object.bldg %}{{ object.bldg }}{% else %}{% endif %}</td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td>{% if object.tel %}{{ object.tel }}{% else %}{% endif %}</td>
    </tr>
    <tr>
        <th>利用回数</th>
        <td>{{ data_input_count }} 回</td>
    </tr>
    <tr>
        <th>備考</th>
        <td>{% if object.remarks %}{{ object.remarks }}{% else %}{% endif %}</td>
    </tr>
</table>
<div class="btn_group">
    <a href="{% url 'myapp:customer_update' object.id %}" class="btn">更新</a>
    <a href="{% url 'myapp:customer_delete' object.id %}" class="btn">削除</a>
</div>
<div class="btn_back">
    <a href="{% url 'myapp:customer_list' %}">戻る</a>
</div>
{% endblock %}
