{% extends 'base.html' %}

{% block content %}
<h1>施設リスト</h1>
<a href="{% url 'myapp:place_create' %}" class="btn_register">新規登録</a>
<div class="search_area">
    <h3>検索条件</h3>
    <form method="get" action="{% url 'myapp:place_list' %}" class="db_search_form">
        {{ form.non_field_errors }}
        <div class="search_field">
            {{ form.place_name.errors }}
            <label for="{{ form.place_name.id_for_label }}">{{ form.place_name.label }}:</label>
            {{ form.place_name }}
        </div>
        <div class="search_field">
            {{ form.address.errors }}
            <label for="{{ form.address.id_for_label }}">{{ form.address.label }}:</label>
            {{ form.address }}
        </div>
        <div class="form_btn">
            <input type="submit" value="検索">
            <a href="{% url 'myapp:place_list' %}" class="reset_btn">条件リセット</a>
        </div>
    </form>
</div>
<div class="result_area result_desktop" id="result_place_desktop">
    <h3>検索結果</h3>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>施設名</th>
                <th>住所</th>
                <th>電話番号</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            {% for placecreate in place_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ placecreate }}</td>
                <td class="text_left">
                    {% if placecreate.zip_code %}　〒{{ placecreate.zip_code }}<br>{% else %}{% endif %}
                    {% if placecreate.prefecture %}　{{ placecreate.prefecture }}{% else %}{% endif %}{% if placecreate.city %}{{ placecreate.city }}<br>{% else %}{% endif %}{% if placecreate.bldg %}{{ placecreate.bldg }}{% else %}{% endif %}</td>
                <td>{% if placecreate.tel %}
                    {{ placecreate.tel }}
                    {% else %}{% endif %}</td>
                <td class="tab"><a href="{% url 'myapp:place_detail' placecreate.id %}">詳細</a></td>
                <td class="tab"><a href="{% url 'myapp:place_update' placecreate.id %}">更新</a></td>
                <td class="tab"><a href="{% url 'myapp:place_delete' placecreate.id %}">削除</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="result_area result_mobile" id="result_place_mobile">
    <h3>検索結果</h3>
    <table>
        <thead>
            <tr>
                <th rowspan="2" width="1.2rem">No.</th>
                <th>施設名</th>
                <th>電話番号</th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th colspan="2" class="text_left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;住所</th>
            </tr>
        </thead>
        <tbody>
            {% for placecreate in place_list %}
            <tr class="first_tbody_tr">
                <td rowspan="2">{{ forloop.counter }}</td>
                <td><a href="{% url 'myapp:place_detail' placecreate.id %}">{{ placecreate }}</a></td>
                <td>{% if placecreate.tel %}
                    {{ placecreate.tel }}
                    {% else %}-{% endif %}</td>
                <td class="tab"><a href="{% url 'myapp:place_update' placecreate.id %}">更新</a></td>
            </tr>
            <tr>
                <td class="text_left" colspan="2">
                    {% if placecreate.zip_code %}〒{{ placecreate.zip_code }}<br>{% else %}{% endif %}
                    {% if placecreate.prefecture %}{{ placecreate.prefecture }}{% else %}{% endif %}{% if placecreate.city %}{{ placecreate.city }}<br>{% else %}{% endif %}{% if placecreate.bldg %}{{ placecreate.bldg }}{% else %}{% endif %}</td>
                <td class="tab"><a href="{% url 'myapp:place_delete' placecreate.id %}">削除</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    <span>
        {% if page_obj.has_previous %}
            <span><a href="?{{ query_string }}&page={{ page_obj.previous_page_number }}">＜</a></span>
        {% endif %}

        {% for link_page in page_obj.paginator.page_range %}
        {% if link_page == page_obj.number %}
            <span class="page-link current" href="#">{{ link_page }}</span>
        {% else %}
           <span class="page-link" href="#"><a
                   href="?{{ query_string }}&page={{ link_page }}">{{ link_page }}</a></span>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <span><a href="?{{ query_string }}&page={{ page_obj.next_page_number }}">＞</a></span>
        {% endif %}
    </span>
</div>
<div class="btn_csv">
  <a href="{% url 'myapp:place_csv_export' %}">csv出力</a>
  <a href="{% url 'myapp:place_csv_import' %}">csvアップロード</a>
</div>
{% endblock %}